@media (min-width: 1601px) and (max-width: 1800px) {
  .qt-title {
    font-size: 3.8rem;
  }

  .qt-title-2 {
    font-size: 2.2rem;
  }

  .qt-description {
    line-height: clamp(2rem, 2vw, 3rem);
  }

  .qt-menu-custom-tabs .tab-content .tab-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1441px) and (max-width: 1919px) {
  /* contact */
  /* .qt-attachment-text {
      font-size: 2rem;
    } */
  /* contact */

  .qt-award-block .title {
    font-size: 3.6rem;
    height: 100%;
  }

  /* technology */
  .qt-home-technology-block.light-theme .technology-card img {
    height: 6rem;
  }

  .qt-home-technology-block .technology-card {
    padding: 2.8rem;
  }

  /* menu card */

  .qt-header-modal-close-btn svg {
    height: 7.5rem;
    width: 7.5rem;
  }

  .qt-menu-custom-tabs .tab-content .tab-card.light-theme li {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  .qt-menu-custom-tabs .tab-content .tab-card.dark-theme li {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  .social-icons svg {
    height: 5rem;
    width: 5rem;
  }

  .qt-menu-footer {
    padding: 2rem;
  }

  .qt-menu-footer-wrap {
    padding: 0;
  }

  .qt-footer-row {
    gap: 70px;
  }

  /* menu card */
}

@media (min-width: 1801px) {
  .cta-btn span {
    height: 80px;
    width: 80px;
  }

  .cta-btn {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .qt-title {
    font-size: 5rem;
  }

  .qt-title-2 {
    font-size: 2.4rem;
  }

  .qt-menu-custom-tabs .tab-content .tab-cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .qt-description {
    line-height: clamp(2rem, 2vw, 3rem);
  }

  .qt-footer-row {
    gap: 100px;
    margin-bottom: 120px;
  }

  .qt-footer-logo svg {
    height: 7rem;
    width: 37rem;
  }

  .qt-strategy-left-block {
    display: flex;
    gap: 13px;
    margin-bottom: 50px;
  }

  .qt-development-main-bottom-list-block ul li {
    display: flex;
    gap: 15px;
    border-right: 1px solid #cdcdcd;
    padding: 0px 25px;
  }

  .qt-header-btn-wrap .menu-btn {
    padding: 15px;
  }

  .qt-menu-custom-tabs .nav-item .nav-link {
    border-radius: 50%;
    padding: 10px;
    text-align: start;
    width: 100%;
    line-height: 1;
    transition: background-color 0.3s ease;

    font-family: Lexend Deca;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
  }

  .qt-menu-custom-tabs .tab-content .tab-card h2 {
    font-family: Inter;
    font-size: clamp(1.8rem, 2vw, 2rem);
    font-style: normal;
    font-weight: 600;
    max-width: 200px;
    /* height: 50px; */
  }

  .qt-menu-custom-tabs .tab-content .tab-card li {
    font-family: Inter;
    font-size: clamp(1.8rem, 1.8vw, 2rem);
    font-style: normal;
    font-weight: 400;
    line-height: clamp(2.5rem, 2.5vw, 5rem);
    list-style: none;
  }
}

/* map */
@media (min-width: 1709px) and (max-width: 1800px) {
  /* in */
  .address-1 {
    top: 25.5%;
    right: 17%;
  }

  /* us */
  .address-2 {
    top: 17%;
    left: 2%;
  }

  /* uk */
  .address-3 {
    top: 6%;
    left: 28.2%;
  }
}

@media (min-width: 992px) and (max-width: 1439px) {
  .qt-award-block .title {
    color: #fff;
    font-family: Lexend Deca;
    font-size: clamp(3rem, 3vw, 5rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 40px 150px 150px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    width: 100%;
    /* max-width: 300px; */

    transition: all 0.4s ease;
  }

  .qt-award-block .title {
    font-size: 3.2rem;
    padding: 4rem 6rem;
    height: 100%;
  }

  /* menu card */
  .qt-modal-container {
    padding-top: 8rem;
  }

  .qt-header-modal-close-btn svg {
    height: 6rem;
    width: 6rem;
  }

  .qt-menu-custom-tabs .tab-content .tab-card.light-theme li {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .qt-menu-custom-tabs .tab-content .tab-card.dark-theme li {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .social-icons svg {
    height: 4.4rem;
    width: 4.4rem;
  }

  .qt-menu-footer {
    /* gap: 44px; */
    padding: 0.3rem 1.6rem;
  }

  .qt-menu-custom-tabs .tab-content .tab-cards {
    gap: 1.6rem;
  }

  .qt-menu-owl {
    width: 10rem;
    height: auto;
    left: 5%;
  }

  .qt-menu-custom-tabs .nav-item .nav-link {
    font-size: 1.8rem;
  }

  /* menu card */

  /* qt contact logo */
  .qt-contact-logo {
    position: absolute;
    top: 7%;
    right: -108px;
    transform: rotate(32deg);
    z-index: 1;
    height: 77px;
    width: 139px;
  }

  .qt-footer-row {
    gap: 35px;
  }
}

@media (min-width: 992px) {
  .qt-award-block .card {
    margin: 30px;
  }

  .qt-cybersecurity-pie-block {
    height: 300px;
  }

  .qt-cybersecurity-grade {
    font-size: 70px;
  }

  .qt-search-input-form {
    width: 600px;
    position: relative;
  }

  .qt-blog-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .qt-award-swiper-card-area-scroll {
    margin-top: 25px;
  }

  .qt-award-scroll.qt-award-block .title {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-family: Lexend Deca;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 40px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    padding: 12px 16px;
    width: max-content;
    height: fit-content;
    transition: all 0.4s ease;
  }

  .qt-award-swiper-card-img {
    height: 140px;
    width: 140px;
    object-fit: contain;
  }
}

@media (min-width: 1440px) {
  .qt-hero-content-wrap .qt-podcast-cta {
    position: absolute;
    bottom: -2%;
    right: -15%;
    font-size: 1.6rem;
    padding: 10px 23px 6px;
  }

  .qt-award-block .title {
    border-radius: 40px 200px 200px 40px;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .qt-menu-custom-tabs .tab-content .tab-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) and (max-width: 1339px) {
  .qt-hero-content-wrap .qt-podcast-cta {
    position: absolute;
    bottom: -12%;
    right: -15%;
    font-size: 1.6rem;
    padding: 10px 23px 6px;
  }

  .qt-footer-row {
    gap: 35px;
  }
}

/* DESKTOP 1200PX AND 1440PX*/

@media (min-width: 1200px) {
  .qt-home-technology-block .technology-cards {
    grid-template-columns: repeat(5, 1fr);
  }

  .qt-home-technology-block .technology-card:nth-child(5n) {
    border-right: none;
    /* Remove right border for every fourth card in a row */
  }

  .qt-home-technology-block .technology-card:nth-last-child(-n + 5) {
    border-bottom: none;
    /* Remove bottom border for the last row of cards */
  }

  .qt-culture-cards-block {
    grid-template-columns: repeat(3, 1fr);
  }

  .qt-case-study-main-block .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .qt-case-study-block .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .qt-home-accordion .card-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .qt-home-accordion .card {
    flex-wrap: wrap;
  }

  .qt-client-feedback-block .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .qt-services-end-block .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .qt-hero-content-wrap .title {
    font-size: 50px;
  }

  .qt-hero-content-wrap .description {
    font-size: 20px;
  }

  .qt-services-end-block .card {
    flex-wrap: nowrap;
    /* align-items: center; */
  }

  .qt-home-contact-form-wrap .bg-img div {
    display: none;
  }

  .qt-hero-content-wrap .qt-free-cta {
    position: absolute;
    bottom: 62%;
    left: -28%;
    font-size: 1.6rem;
    padding: 10px 23px 6px;
  }

  /* .qt-free-cta span {
      font-size: 2rem;
    } */

  /* .qt-podcast-cta span {
      font-size: 2rem;
    } */

  /* .qt-description {
      font-size: 1.6rem !important;
      line-height: 1.6rem !important;
    } */

  /* menu */

  /* .modal-100w .modal-header .btn-close {
      top: 5%;
      right: 4%;
    } */

  .qt-menu-custom-tabs ul {
    padding: 30px 10px;
  }

  .qt-main-cyber-block .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .qt-development-card-2 .cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .qt-main-development-block .cards-1 {
    grid-template-columns: repeat(3, 1fr);
  }

  .qt-main-cyber-block .cards-1 {
    grid-template-columns: repeat(3, 1fr);
  }

  .qt-menu-custom-tabs .nav-item {
    width: 240px;
  }

  .qt-menu-custom-tabs .tab-content {
    padding: 20px 12px;
  }

  .qt-job-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .qt-services-main-section-logo .qt-logo {
    height: 9rem !important;
    width: 9rem !important;
  }

  .qt-services-main-section-content {
    margin-bottom: 5rem;
  }

  .expert-text-wrap {
    max-width: 360px !important;
  }
}

/* ///////////////////////////////////////////// */

/* between tab and medium desktop */
@media (min-width: 921px) and (max-width: 1440px) {
  .qt-services-main-section-svgs > svg {
    height: 47rem;
    width: 47rem;
  }

  .qt-contact-form-social-icons {
    gap: 1rem;
  }

  .qt-service-block-expert > ul > li:nth-child(1) {
    left: -66%;
    top: 12%;
  }

  .qt-service-block-expert > ul > li:nth-child(2) {
    top: 81%;
    left: -66%;
  }

  .qt-service-block-expert > ul > li:nth-child(3) {
    bottom: 19.5%;
    left: -78%;
  }

  .qt-service-block-expert > ul > li:nth-child(4) {
    right: -67%;
    top: 81.5%;
  }

  .qt-service-block-expert > ul > li:nth-child(5) {
    top: 46%;
    right: -78%;
  }

  .qt-service-block-expert > ul > li:nth-child(6) {
    top: 12%;
    right: -67%;
  }

  /* dark theme */
  .qt-service-block-expert.dark-theme > ul > li:nth-child(1) {
    left: -66%;
    top: 9.5%;
  }

  .qt-service-block-expert.dark-theme > ul > li:nth-child(2) {
    top: 78.5%;
    left: -66%;
  }

  .qt-service-block-expert.dark-theme > ul > li:nth-child(3) {
    top: 43.5%;
    left: -78%;
  }

  .qt-service-block-expert.dark-theme > ul > li:nth-child(4) {
    right: -67%;
    top: 78.5%;
  }

  .qt-service-block-expert.dark-theme > ul > li:nth-child(5) {
    top: 43%;
    right: -78%;
  }

  .qt-service-block-expert.dark-theme > ul > li:nth-child(6) {
    top: 9.5%;
    right: -67%;
  }

  /* map */
  .qt-map-container-address-box {
    padding: 1rem;
  }

  .qt-map-container-address-box h2 {
    font-size: 18px;
  }

  .qt-map-container-address-box p {
    font-size: 16px;
    line-height: 20px;
    /* 140% */
    max-width: 350px;
  }

  /* alert */

  .qt-alert-container {
    padding: 1rem;
    gap: 0.8rem;
  }

  .qt-alert-container svg {
    height: 1.8rem;
    width: 1.8rem;
  }

  .qt-alert-container p {
    font-size: 1.8rem;
  }

  /* alert */

  /* contact */
  /* .qt-attachment-text {
      font-size: 1.6rem;
    } */
  /* contact */
}

@media (max-width: 1280px) {
  /* map */
  .qt-contact-main-section {
    padding: 0px 0px 50px;
  }
}

/* DESKTOP 1200PX AND 1440PX*/

@media (min-width: 1200px) and (max-width: 1440px) {
  .qt-hero-content-wrap .qt-logo {
    height: 45rem;
    width: 45rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .qt-hero-content-wrap .qt-logo {
    height: 40rem;
    width: 40rem;
  }

  .qt-home-technology-block .technology-cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .qt-home-technology-block .technology-card:nth-child(4n) {
    border-right: none;
    /* Remove right border for every third card in a row */
  }

  .qt-home-technology-block .technology-card:nth-last-child(-n + 3) {
    border-bottom: none;
    /* Remove bottom border for the last row of cards */
  }
}

@media (min-width: 993px) and (max-width: 1440px) {
  .qt-cyber-tool-block .tools-img {
    width: 150px;
  }

  .qt-big-circle {
    right: 13%;
    top: 13%;
  }

  .qt-pop-image {
    right: -25%;
    top: -27%;
    max-width: 50%;
  }

  .qt-cyber-tool-block .tools-img img {
    height: auto;
    object-fit: contain;
  }

  .qt-cyber-tool-block {
    gap: 20px 40px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .qt-audit-rating-block .cards {
    gap: 30px;
  }

  .qt-audit-rating-block .card {
    gap: 35px;
    padding: 24px 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .qt-hero-content-wrap .qt-logo {
    height: 35rem;
    width: 35rem;
  }

  .qt-big-circle {
    right: 10%;
    top: 12%;
  }

  .qt-pop-image {
    right: -39%;
    top: -38%;
    max-width: 64%;
  }

  .qt-cybersecurity-grade {
    font-size: 70px;
  }

  .qt-home-technology-block .technology-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .qt-home-technology-block .technology-card:nth-child(3n) {
    border-right: none;
    /* Remove right border for every third card in a row */
  }

  .qt-home-technology-block .technology-card:nth-last-child(-n + 3) {
    border-bottom: none;
    /* Remove bottom border for the last row of cards */
  }

  .qt-footer-row {
    justify-content: center;
    gap: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .qt-culture-tab-section {
    padding: 100px 0px;
    position: relative;
  }

  .qt-culture-custom-tabs {
    gap: 20px;
  }

  .qt-home-contact-form-wrap .bg-img {
    z-index: 0;
    position: relative;
    height: 100px;
    width: 100px;
    top: 4rem;
    left: 44%;
  }

  .qt-home-contact-form-wrap .bg-img img {
    display: none;
  }

  .qt-home-contact-form {
    background-image: none;
  }

  /* logo */

  .qt-hero-content-wrap .qt-free-cta {
    position: absolute;
    bottom: 60%;
    left: -30%;

    padding: 10px 23px 6px;
  }

  .qt-free-cta span {
    font-size: 2rem;
  }

  .qt-hero-content-wrap .qt-podcast-cta {
    position: absolute;
    bottom: -22%;
    right: -5%;

    padding: 10px 23px 6px;
  }

  /* .qt-podcast-cta span {
      font-size: 2rem;
    } */

  /* .qt-description {
      font-size: 1.3rem !important;
      line-height: 1.25rem !important;
    } */

  /* menu */

  .modal-100w .modal-header .btn-close {
    top: 5%;
    right: 3%;
  }

  .qt-menu-custom-tabs ul {
    padding: 20px 20px;
  }

  /* .qt-menu-custom-tabs .nav-item {
      width: 121px;
    } */

  /* .qt-menu-custom-tabs .nav-item .nav-link {
      font-size: 14px;
    } */

  .qt-menu-custom-tabs .tab-content {
    padding: 17px 20px;
  }

  .qt-menu-footer {
    gap: 16px;
    padding: 10px;
  }

  .qt-menu-footer-wrap {
    padding: 0px 10px;
    margin-top: 64px;
  }

  .qt-menu-custom-tabs .img-wrap {
    position: absolute;
    bottom: 0;
    left: 2%;
  }

  .qt-menu-custom-tabs .tab-content .tab-cards {
    gap: 8px;
  }

  /* .qt-menu-custom-tabs .tab-content .tab-card h2 {
      font-size: 15px;
    }
    .qt-menu-custom-tabs .tab-content .tab-card li {
      font-size: 14px;
    } */

  .qt-menu-custom-tabs .img-wrap img {
    height: 160px;
  }

  .social-icons svg {
    height: 4rem;
    width: 4rem;
  }

  /* SERVICE PAGE */
  .qt-services-main-section-circle-svg {
    width: 24rem;
    height: 24rem;
  }

  .qt-services-main-section-logo .qt-logo {
    height: 5rem !important;
    width: 5rem !important;
  }

  .qt-services-main-section-content {
    margin-bottom: 3rem;
  }

  .expert-text-wrap {
    max-width: 300px !important;
  }

  /* contact */
  .qt-home-contact-form-wrap .bg-img div {
    display: block;
  }

  .qt-contact-logo {
    display: none;
  }

  /* contact */

  /* map */
  .qt-map-container-address-box {
    padding: 1rem;
  }

  .qt-map-container-address-box h2 {
    font-size: 16px;
  }

  .qt-map-container-address-box p {
    font-size: 15px;
    line-height: 16px;
    /* 140% */
    max-width: 350px;
  }

  /* map */

  /* alert */
  .qt-alert-container {
    padding: 0.8rem;
    gap: 0.6rem;
  }

  .qt-alert-container svg {
    height: 1.6rem;
    width: 1.6rem;
  }

  .qt-alert-container p {
    font-size: 1.6rem;
  }

  /* alert */

  /* contact */
  .qt-attachment-text {
    font-size: 1.4rem;
  }

  /* contact */

  /* technology */
  .qt-home-technology-block.light-theme .technology-card img {
    height: 5.4rem;
  }

  .qt-home-technology-block .technology-card {
    padding: 2.8rem;
  }
}

@media (max-width: 991px) {
  .qt-award-block .card {
    margin: 30px;
  }

  .qt-search-field {
    display: block;
  }

  .qt-career-know-us-section .qt-rotated-text {
    transform: rotate(0deg);
    font-size: 50px;
    line-height: normal;
    /* 120% */
    margin-bottom: 20px;
  }

  .qt-contact-form-social-icons {
    gap: 1rem;
  }

  .qt-award-swiper-card-area-scroll {
    margin-top: 25px;
  }

  .qt-award-block {
    position: relative;
  }

  .qt-award-block .title {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-family: Lexend Deca;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 251px 251px 21px 21px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    padding: 12px 16px;

    height: fit-content;
    max-width: 100%;

    transition: all 0.4s ease;
  }

  .qt-footer-partition {
    width: 0px;
  }

  .qt-award-scroll.qt-award-block .title {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-family: Lexend Deca;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 251px 251px 21px 21px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    padding: 12px 16px;
    width: 100%;
    height: fit-content;
    width: 100%;

    transition: all 0.4s ease;
  }

  .qt-award-swiper-card-img {
    height: 60px;
    width: 60px;
  }
}

/* DESKTOP 1200PX AND 1440PX*/
@media screen and (max-width: 767px) {
  .qt-home-contact-form .contact-form {
    margin: 0;
  }

  .qt-home-hero-logo {
    margin-top: 0%;
  }

  .qt-pop-image {
    top: -29%;
    max-width: 58%;
  }

  .qt-description {
    line-height: clamp(2rem, 2vw, 3rem);
  }

  .view-btn {
    margin-left: 15px;
  }

  .qt-small-circle {
    right: 22%;
    top: 27%;
    width: 5%;
  }

  .qt-big-circle {
    right: 17%;
    top: 19%;
    max-width: 8%;
  }
  .qt-btn-cybersecurity {
    width: 120px;
    height: 56px;
    font-size: 18px;
  }

  .qt-title {
    font-size: 2.4rem;
  }

  .qt-title-2 {
    font-size: 2rem;
  }

  .qt-not-found-section {
    padding: 80px 20px;
  }

  .qt-cybersecurity-main-block {
    padding: 50px 0px;
  }

  .qt-career-search-block {
    margin-bottom: 20px;
  }

  .qt-culture-custom-tabs .text-wrap .tab-image {
    height: 100px;
    width: 100px;
  }

  /* contact */
  /* .qt-attachment-text {
      font-size: 1.2rem;
    } */
  /* contact */

  .qt-culture-tab-section {
    padding: 50px 0px;
    position: relative;
  }

  .qt-culture-custom-tabs {
    gap: 50px;
  }

  .qt-home-accordion .card-img-wrap {
    min-height: 100%;
  }

  .qt-swiper-navigation-btn-wrap {
    margin: 0;
  }

  .qt-footer-border.light-theme {
    border-right: none;
  }

  .qt-bottom-cyber-section {
    padding: 50px 0px;
  }

  .qt-blogs-page .qt-home-blog-section {
    padding: 100px 0px 50px;
  }

  .qt-main-cyber-section {
    padding: 50px 0px;
  }

  .qt-development-main-section {
    padding: 50px 0px;
  }

  .qt-development-main-bottom-list-block ul li {
    border: none;
  }

  .qt-service-section {
    padding: 50px 0px;
  }

  .qt-development-contact-section {
    padding: 0px 0px 50px;
  }

  .qt-development-main-bottom-list-block ul {
    justify-content: flex-start;
  }

  .qt-blog-search-wrap input {
    padding: 15px 15px 15px 50px;
  }

  .qt-blog-search-section {
    margin: 30px 0px;
  }

  .qt-blog-search-icon {
    top: 15px;
    margin-left: 15px;
  }

  .qt-privacy-main-section {
    padding: 50px 0px;
  }

  .qt-home-contact-section {
    padding: 0px 0px 50px;
  }

  .qt-footer-border.dark-theme {
    border-right: none;
  }

  .qt-hero-section {
    padding: 100px 0px 50px;
    height: auto;
  }

  .qt-hero-section {
    min-height: auto;
  }

  .qt-home-hero-section {
    padding: 100px 0px 50px;
    height: auto;
  }

  .qt-service-description-section {
    padding: 50px 0px;
  }

  .qt-home-client-section {
    padding: 50px 0px;
  }

  .qt-technology-section {
    padding: 50px 0px;
  }

  .home-head-section {
    height: auto;
  }

  .qt-footer .border-end {
    border: none !important;
  }

  .qt-footer-row {
    margin-bottom: 50px;
    gap: 30px;
  }

  .qt-footer-row svg {
    max-width: 100%;
    height: auto;
  }

  .qt-email input {
    min-width: auto;
  }

  .qt-client-swiper-card-area .swiper {
    padding-bottom: 100px;
  }

  /* .qt-title-2 {
      font-size: 1.5rem !important;
    }
    .qt-title {
      font-size: 3rem;
    } */

  /* logo */
  .qt-hero-content-wrap .qt-logo {
    height: 25rem;
    width: 25rem;
  }

  .qt-hero-content-wrap .qt-free-cta {
    position: absolute;
    bottom: 60%;
    left: -33%;
    /* font-size: 1.6rem; */
    padding: 10px 23px 6px;
  }

  .qt-free-cta span {
    font-size: 2rem;
  }

  .qt-hero-content-wrap .qt-podcast-cta {
    position: absolute;
    bottom: -12%;
    right: -22%;

    padding: 10px 23px 6px;
  }

  .qt-home-accordion .card {
    padding: 20px;
    gap: 20px;
  }

  /* .qt-podcast-cta span {
      font-size: 2rem;
    } */

  /* /////////////////////////////////////////////////// */
  /* HOME PAGE */

  /* //////////////////////////////////////////////////// */
  /* SERVICE PAGE */

  /* SERVICE PAGE */
  /* //////////////////////////////////////////////////// */

  /* //////////////////////////////////////////////////// */
  /* CAREER PAGE */
  .qt-career-main-section-img-wrapper {
    text-align: center;
  }

  /* CAREER PAGE */
  /* //////////////////////////////////////////////////// */

  /* /////////////////////////////////////////////////// */
  /* CONTACT US */
  .qt-home-contact-form {
    padding: 50px 15px;
  }

  .qt-contact-bottom {
    padding: 15px;
  }

  .qt-contact-bottom svg {
    width: 24px;
    height: 24px;
  }

  .qt-contact-logo {
    display: none;
  }

  .qt-home-contact-form-wrap .bg-img {
    z-index: 0;
    position: relative;
    height: 100px;
    width: 100px;
    top: 4rem;
    left: 35%;
  }

  .qt-home-contact-form-wrap .bg-img img {
    display: none;
  }

  .qt-home-contact-form {
    background-image: none;
  }

  /* contact */
  .qt-home-contact-form-wrap .bg-img div {
    display: block;
  }

  /* WAVE */
  .waveBottom {
    background-size: 500% 150px;
  }

  .waveTop {
    background-size: 500% 150px;
  }

  .qt-home-blog-section {
    padding: 50px 0px;
  }

  .qt-culture-main-section {
    padding: 50px 0px;
  }

  /* .qt-culture-tab-section {
      display: none;
    } */
  .qt-culture-end-section {
    padding: 50px 0px;
  }

  .qt-case-study-main-section {
    padding: 50px 0px;
  }

  .qt-audit-main-section {
    padding: 50px 0px;
  }

  .qt-audit-bottom-section {
    padding: 50px 0px;
  }

  .qt-career-main-section {
    padding: 50px 0px;
  }

  .qt-career-know-us-section {
    padding: 50px 0px;
  }

  .qt-service-main-section {
    padding: 50px 0px;
  }

  .qt-services-faq-section {
    padding: 50px 0px;
  }

  .qt-services-main-section {
    display: none;
  }

  .qt-service-main-section {
    padding: 50px 0px;
  }

  .qt-services-end-block .card .card-img-wrap {
    height: 100px;
    width: 100px;
    padding: 15px;
  }

  .qt-services-end-block .cards {
    gap: 20px;
  }

  .qt-service-main-block .cards {
    gap: 20px;
  }

  .qt-home-contact-form .message-block-wrap {
    margin-bottom: 10px;
  }

  .qt-home-contact-form .contact-form .left-col {
    padding: 0;
  }

  .qt-home-contact-form .contact-form .right-col {
    padding: 0;
  }

  /* technology */
  .qt-home-technology-block.light-theme .technology-card img {
    height: 4.8rem;
  }

  .qt-home-technology-block .technology-card {
    padding: 2.8rem;
  }

  .qt-award-block .cybersecurity-title-block {
    font-size: 24px;
    padding: 25px 20px;
  }
}

@media screen and (max-width: 480px) {
  body .container {
    width: 90%;
  }

  .qt-cybersecurity-img-1 {
    height: 150px;
  }

  .qt-cybersecurity-field-block {
    height: 100px;
  }

  .qt-cybersecurity-img-2 {
    height: 150px;
  }

  .qt-culture-cards-block .card:nth-child(1):hover .card-title {
    bottom: 18rem;
    /* Adjust as needed */
  }

  .qt-culture-cards-block .card:nth-child(2):hover .card-title {
    bottom: 15rem;
    /* Adjust as needed */
  }

  .qt-culture-cards-block .card:nth-child(3):hover .card-title {
    bottom: 12rem;
    /* Adjust as needed */
  }

  .swiper-container {
    /* Adjust the number of slides per view for even smaller screens */
    /* For example, set 1 slide per view for screens smaller than 576px */
    .swiper-slide {
      width: 100%;
      /* Adjust slide width for 1 slide per view */
    }
  }

  .qt-sticky-container {
    width: 32px;
    height: 90px;
  }

  .qt-sticky-content h2 {
    text-align: center;
    font-size: 10px;
  }
  .qt-service-faq-block .card-description {
    font-size: 16px;
  }
  .qt-audit-rating-block .card {
    gap: 20px;
  }

  .qt-cybersecurity-pie-block-container {
    justify-content: center;
  }

  .qt-title {
    font-size: 2.4rem;
  }

  .qt-title-2 {
    font-size: 2rem;
  }

  .qt-cybersecurity-bottom-cards .card {
    height: 125px;
  }

  .qt-footer-row {
    gap: 20px;
    margin-top: 4rem;
  }

  .qt-footer-logo svg {
    width: 20rem;
  }

  .qt-hero-content-wrap .qt-logo {
    margin-top: 5rem;
    height: 18rem;
    width: 18rem;
  }

  .qt-cyber-tool-block {
    gap: 40px;
  }

  .qt-home-technology-block .technology-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .qt-home-technology-block .technology-card:nth-child(n) {
    border-right: none;
    /* Remove right border for every second card in a row */
  }

  .qt-home-technology-block .technology-card:nth-last-child(-n + 1) {
    border-bottom: none;
    /* Remove bottom border for the last row of cards */
  }

  .card-rotate-block .card-description-3 {
    top: 40%;
  }

  .qt-contact-main-section {
    padding: 150px 0px 50px;
  }

  /* .qt-header svg {
      width: 200px;
    } */
  .qt-award-section {
    padding: 50px 0px;
  }

  .qt-blog-main-section .col-lg-7 {
    padding-right: 0px;
  }

  .qt-related-blog-card {
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }

  .qt-email {
    flex-wrap: wrap;
  }

  .qt-email button {
    width: 60px;
  }

  .qt-strategy-left-block {
    flex-wrap: wrap;
  }

  .qt-footer {
    padding: 50px 0px 100px;
  }

  .qt-services-end-block .card {
    flex-wrap: wrap;
  }

  .qt-audit-bottom-card-block .cards {
    display: block;
  }

  .qt-hero-content-wrap .qt-free-cta {
    position: absolute;
    bottom: 78%;
    left: -27%;
    /* font-size: 1.6rem; */
    padding: 10px 23px 6px;
  }

  .qt-hero-content-wrap .qt-podcast-cta {
    position: absolute;
    bottom: -42%;
    right: -20%;
    padding: 10px 23px 6px;
  }

  .qt-client-swiper-card-area .swiper {
    padding: 50px 0px;
  }

  /* lines service */

  .qt-services-main-section-mobile {
    display: block;
    padding: 40px 0px;
    min-height: 135rem;
  }

  .qt-services-main-section-mobile.light-theme {
    background-color: var(--background-secondary-light);
  }

  .qt-services-main-section-mobile.dark-theme {
    background-color: var(--background-secondary-dark);
  }

  .qt-services-main-section-logo .qt-logo {
    height: 5rem;
    width: 5rem;
  }

  .qt-services-main-section-logo-lines {
    position: absolute;
    top: 113%;
    left: 15%;
    width: 67vw;
  }

  .qt-services-main-section-logo-lines-img-wrap {
    position: absolute;
    top: 86%;
    left: -25%;
    z-index: 1;
  }

  .qt-services-main-section-logo-lines-img-wrap img {
    height: 86rem;
    width: 90vw;
  }

  .qt-services-main-section-logo-lines .qt-title-2 {
    font-size: 2rem;
    margin-bottom: 0.3rem;
  }

  .qt-services-main-section-logo-lines .qt-description {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
    line-height: 1.8rem;
  }

  .qt-services-main-section-logo-lines ul {
    position: relative;
    min-width: 57vw;
  }

  .qt-services-main-section-logo-lines li:nth-child(1) {
    position: absolute;
    top: 0.2rem;
    left: 0%;
  }

  .qt-services-main-section-logo-lines li:nth-child(2) {
    position: absolute;
    top: 14.5rem;
    left: 0%;
  }

  .qt-services-main-section-logo-lines li:nth-child(3) {
    position: absolute;
    top: 28.5rem;
    left: 0%;
  }

  .qt-services-main-section-logo-lines li:nth-child(4) {
    position: absolute;
    top: 45rem;
    left: 0%;
  }

  .qt-services-main-section-logo-lines li:nth-child(5) {
    position: absolute;
    top: 64.5rem;
    left: 0%;
  }

  .qt-services-main-section-logo-lines li:nth-child(6) {
    position: absolute;
    top: 78.5rem;
    left: 0%;
  }

  /* alert */
  .qt-alert-container {
    padding: 0.5rem;
    gap: 0.4rem;
  }

  .qt-alert-container svg {
    height: 1.4rem;
    width: 1.4rem;
  }

  .qt-alert-container p {
    font-size: 1.4rem;
  }

  /* alert */

  /* email subscribe */
  .qt-email {
    gap: 6px;
  }
}

@media (min-width: 481px) and (max-width: 919px) {
  .qt-development-contact-section {
    padding: 0px 0px 50px;
  }

  .qt-services-main-section {
    display: none;
  }

  .qt-services-main-section-mobile {
    display: block;
    padding: 40px 0px;
    min-height: 130rem;
  }

  .qt-services-main-section-mobile.light-theme {
    background-color: var(--background-secondary-light);
  }

  .qt-services-main-section-mobile.dark-theme {
    background-color: var(--background-secondary-dark);
  }

  .qt-services-main-section-logo .qt-logo {
    height: 5rem;
    width: 5rem;
  }

  .qt-services-main-section-logo-lines {
    position: absolute;
    top: 113%;
    left: 26%;
    width: 67vw;
  }

  .qt-services-main-section-logo-lines-img-wrap {
    position: absolute;
    top: 86%;
    left: -25%;
    z-index: 1;
  }

  .qt-services-main-section-logo-lines-img-wrap img {
    height: 86rem;
    width: 90vw;
  }

  .qt-services-main-section-logo-lines .qt-title-2 {
    font-size: 2rem;
    margin-bottom: 0.3rem;
  }

  .qt-services-main-section-logo-lines .qt-description {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
    line-height: 1.8rem;
  }

  .qt-services-main-section-logo-lines ul {
    position: relative;
    min-width: 57vw;
  }

  .qt-services-main-section-logo-lines li:nth-child(1) {
    position: absolute;
    top: 0.2rem;
    left: 0%;
  }

  .qt-services-main-section-logo-lines li:nth-child(2) {
    position: absolute;
    top: 14.5rem;
    left: 0%;
  }

  .qt-services-main-section-logo-lines li:nth-child(3) {
    position: absolute;
    top: 28.5rem;
    left: 0%;
  }

  .qt-services-main-section-logo-lines li:nth-child(4) {
    position: absolute;
    top: 45rem;
    left: 0%;
  }

  .qt-services-main-section-logo-lines li:nth-child(5) {
    position: absolute;
    top: 64.5rem;
    left: 0%;
  }

  .qt-services-main-section-logo-lines li:nth-child(6) {
    position: absolute;
    top: 78.5rem;
    left: 0%;
  }

  /* alert */
  .qt-alert-container {
    padding: 0.7rem;
    gap: 0.6rem;
  }

  .qt-alert-container svg {
    height: 1.5rem;
    width: 1.5rem;
  }

  .qt-alert-container p {
    font-size: 1.5rem;
  }

  /* alert */
}

@media (max-width: 1199px) {
  .qt-footer-row {
    justify-content: start;
  }
}

@media (min-width: 920px) and (max-width: 1199px) {
  .qt-development-contact-section {
    padding: 0px 0px 50px;
  }

  .qt-services-main-section {
    display: none;
  }

  .qt-services-main-section-mobile {
    display: block;
    padding: 40px 0px;
    min-height: 145rem;
  }

  .qt-services-main-section-mobile.light-theme {
    background-color: var(--background-secondary-light);
  }

  .qt-services-main-section-mobile.dark-theme {
    background-color: var(--background-secondary-dark);
  }

  .qt-services-main-section-circle-svg {
    width: 29rem;
    height: 24rem;
  }

  .qt-services-main-section-logo .qt-logo {
    height: 10rem;
    width: 10rem;
  }

  .qt-services-main-section-logo-lines {
    position: absolute;
    top: 113%;
    left: 26%;
    width: 67vw;
  }

  .qt-services-main-section-logo-lines-img-wrap {
    position: absolute;
    top: 94%;
    left: -20%;
    z-index: 1;
  }

  .qt-services-main-section-logo-lines-img-wrap.dark-theme {
    position: absolute;
    top: 86%;
    left: -20%;
    z-index: 1;
  }

  .qt-services-main-section-logo-lines-img-wrap img {
    height: 100rem;
    width: 90vw;
  }

  .qt-services-main-section-logo-lines .qt-title-2 {
    font-size: 2.2rem;
    margin-bottom: 0.3rem;
  }

  .qt-services-main-section-logo-lines .qt-description {
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
    line-height: 2rem;
  }

  .qt-services-main-section-logo-lines ul {
    position: relative;
    min-width: 57vw;
  }

  .qt-services-main-section-logo-lines li:nth-child(1) {
    position: absolute;
    top: 2.2rem;
    left: 7%;
  }

  .qt-services-main-section-logo-lines li:nth-child(2) {
    position: absolute;

    top: 18.5rem;
    left: 7%;
  }

  .qt-services-main-section-logo-lines li:nth-child(3) {
    position: absolute;
    top: 34.8rem;
    left: 7%;
  }

  .qt-services-main-section-logo-lines li:nth-child(4) {
    position: absolute;

    top: 54rem;
    left: 7%;
  }

  .qt-services-main-section-logo-lines li:nth-child(5) {
    position: absolute;
    top: 76.5rem;
    left: 7%;
  }

  .qt-services-main-section-logo-lines li:nth-child(6) {
    position: absolute;
    top: 93rem;
    left: 7%;
  }

  .qt-services-main-section-logo-lines.dark-theme li:nth-child(1) {
    position: absolute;
    top: 1.2rem;
    left: 7%;
  }

  .qt-services-main-section-logo-lines.dark-theme li:nth-child(2) {
    position: absolute;

    top: 17.5rem;
    left: 7%;
  }

  .qt-services-main-section-logo-lines.dark-theme li:nth-child(3) {
    position: absolute;
    top: 33.8rem;
    left: 7%;
  }

  .qt-services-main-section-logo-lines.dark-theme li:nth-child(4) {
    position: absolute;

    top: 53rem;
    left: 7%;
  }

  .qt-services-main-section-logo-lines.dark-theme li:nth-child(5) {
    position: absolute;
    top: 75.5rem;
    left: 7%;
  }

  .qt-services-main-section-logo-lines.dark-theme li:nth-child(6) {
    position: absolute;
    top: 92rem;
    left: 7%;
  }
}

@media (max-width: 918px) {
  .qt-toggle-container {
    top: 70px;
  }

  .qt-service-block-2 {
    position: relative;
    width: auto;
    height: auto;
    top: auto;
    left: auto;
    display: block;
  }

  .qt-service-block-2 ul li {
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
  }

  .qt-home-img-circular {
    position: relative;
    border-radius: 0;
    padding: 0;
    border: none;
    display: block;
    height: auto;
    width: auto;
  }

  .qt-home-img-circular .main-img {
    display: none;
  }

  .qt-home-img-circular img {
    position: relative;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: block;
    padding: 15px;
  }

  .service-left-content-wrap {
    flex-direction: row;
  }

  .service-content-wrap {
    display: flex;
    justify-content: left;
    gap: 20px;
  }

  .service-left-content-wrap {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }

  .service-left-text-wrap {
    display: block;
    text-align: start;
  }

  .qt-service-block-1 {
    position: relative;
    margin: 0;
  }

  /* map */
  .qt-map-container-address-box {
    padding: 0.8rem;
  }

  .qt-map-container-address-box h2 {
    font-size: 14px;
  }

  .qt-map-container-address-box p {
    font-size: 12px;
    line-height: 14px;
    /* 140% */
    max-width: 240px;
  }

  /* map */
}
